*.elf
*.hex
*.tmp
*.lst
*.map
*.directory
*.coverage
*.log
*.log.*
*.o
*.db
_*.c

*__pycache__

config.json
_docker-compose.yml

DEPRECATED*
TESTARTEFACT*

.pytest_cache/
_build/
_static/
_templates/
Log
logfile
groups/*
testreports/**
old/
htmlcov/
tests/artefacts/
venv/

testsystem/*/*.txt
testsystem/*/*.d
testsystem/*/*.o

RTOS_SS21_Group11/
local_git/
_git/
_git_clones/
__*/
tc-*/